@import "partials/mixins";
.authorization_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 11rem;
  background-color: rgba(0, 0, 0, 0.67);
  overflow: auto;
  z-index: 10000;
  display: none;
  &.security_code_block {
    display: block;
    .authorization_form {
      .security_code {
        width: 100%;
        margin: 2rem 0;
        padding-left: 1rem;
        color: #333d47;
        font-size: 3.75rem;
        letter-spacing: 1rem;
      }
      .auth_form_gr_bottom {
        p {
          font-size: 1.875rem;
          color: #ff1111;
        }
      }
      &.sms_code_ch {
        h3 {
          padding-top: 12rem;
          margin-bottom: 3.125rem;
          font-size: 2.125rem;
          color: #000000;
          text-align: center;
          line-height: 1.3;
        }
        .security_code_sms_input_block {
          .security_code_sms_input {
            height: 7.375rem;
            border-radius: 0.625rem;
            letter-spacing: 2rem;
            font-size: 2.5rem;
            text-indent: 34%;
            color: #43485e;
            border: 1px solid #707070;
            overflow: hidden;
          }
        }
        .sms_confirm_btn {
          height: 6.4375rem;
          margin-top: 6.75rem;
          padding: 0 2.5rem;
          background-color: #3eb553;
          border-radius: 0.625rem;
        }
      }
      &.user_reg {
        .authorization_form_group {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
.user_auth_block {
  display: flex;
  padding: 1.63rem 2rem 1.63rem 1.4rem;
  align-items: center;
  background-color: #ffca2c;
  border-radius: 0.625rem;
  .user_auth_icon {
    width: 3rem;
    filter: invert(1);
  }
  p {
    position: relative;
    top: 0.1875rem;
    margin-left: 1rem;
    color: #000000;
  }
}

.authorization_form_block {
  width: 90%;
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem 8rem;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 2.5rem;

  .auth_form_close {
    width: 6rem;
    align-self: flex-end;

    .auth_form_close_icon {
      width: 2.6425rem;
      float: right;
      cursor: pointer;
    }
  }
  .authorization_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .authorization_form_group {
      display: flex;
      width: 100%;
      flex-direction: column;
      label {
        color: #333d47;
        font-size: 2.25rem;
      }
      .authorization_form_input {
        height: 7.375rem;
        margin: 1.5rem 0 2rem;
        border: 0.0625rem solid #707070;
        border-radius: 0.625rem;
        text-indent: 2rem;
        font-size: 2.625rem;
        color: #333d47;
      }
      .auth_form_gr_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .authorization_form_link {
          color: #3455b2;
          font-size: 1.75rem;
          text-decoration: underline;
        }
      }

      .show_password_content {
        position: absolute;
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        .show_pass_icon {
          width: 3.35rem;
        }
      }
      &.password {
        margin-top: 4rem;
        position: relative;
      }
    }
    .authorization_btn {
      width: 100%;
      height: 8.8125rem;
      margin: 3.875rem 0 7rem;
      color: #000000;
      font-size: 3.125rem;
      background-color: #ffca2c;
      border-radius: 0.625rem;
    }
    .registration_link {
      color: #5772bf;
      text-decoration: underline;
      font-size: 2.25rem;
    }
    .reg_block_buttons {
      margin: 5rem 0 4.5rem;
      > button {
        width: 15rem;
        height: 6.4375rem;
        border-radius: 0.625rem;
      }
      .reg_block_cancel_btn {
        margin-right: 1.8rem;
        background-color: #9ba7b4;
      }
      .reg_block_recovery_btn {
        background-color: #3eb553;
      }
    }
  }
  .block_warning_message {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 13rem 0 0;
    p {
      text-indent: 2rem;
      font-size: 2.125rem;
      color: #000000;
      text-align: center;
      line-height: 1.3;
    }
    .warning_text {
    }
    .warning_text_unlock {
      margin-top: 2rem;
    }
  }
  .warning_close_block {
    display: flex;
    justify-content: center;
    .warning_block_close_btn {
      height: 6.4375rem;
      margin-top: 10rem;
      padding: 0 2rem;
      background-color: #9ba7b4;
      border-radius: 0.625rem;
    }
  }
  &.reg_modal {
    padding-bottom: 5rem;
    .authorization_form {
      padding-top: 3rem;
      .authorization_form_group {
        &.mob {
          margin-top: 3rem;
          margin-bottom: 4rem;
        }
        &.sms_code {
          width: 50%;
        }
      }
      .security_code_block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .code_block {
          display: flex;
          align-items: center;
          flex-grow: 1;
          justify-content: flex-end;
          .reset_icon {
            width: 1.71625rem;
          }
          p {
            margin-left: 2rem;
            color: #7e8994;
            font-size: 3rem;
            letter-spacing: 1rem;
          }
        }
      }
    }
  }
}
