.limit_managment {
  padding: 9.5rem 3.875rem 2.75rem;
  .limit_managment_info_text {
    padding-bottom: 9.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.activate_limit {
      padding: 17rem 0 7rem;
    }
    .limit_managment_info_img {
      width: 11.5rem;
    }
    .information_text {
      margin-top: 3.5rem;
      color: #d0d3e9;
      font-size: 2.06rem;
      text-align: center;
      line-height: 1.4;
    }
  }
  .limit_duration {
    padding-top: 7.5rem;
    .limit_duration_title {
      font-size: 2.75rem;
    }

    .limit_duration_form {
      padding: 5rem 0 10rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .container {
        width: 48%;
        display: block;
        position: relative;
        padding-left: 4rem;
        margin-bottom: 3.875rem;
        align-items: center;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        // &.checked {
        //   .text {
        //     .duration,
        //     .duration_term {
        //       color: #f0f1f6;
        //     }
        //   }
        //   .checkmark {
        //     border-color: #f0f1f6;
        //     &::after {
        //       content: "";
        //       position: absolute;
        //       top: 50%;
        //       left: 50%;
        //       width: 1rem;
        //       height: 1rem;
        //       border-radius: 100%;
        //       background: #f0f1f6;
        //       transform: translate(-50%, -50%);
        //     }
        //   }
        // }

        .text {
          line-height: 1.5;
          .duration {
            font-size: 2.125rem;
            color: #777c97;
          }
          .duration_term {
            color: #636785;
            font-size: 1.625rem;
          }
        }
      }
      .container {
        .limit_duration_input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
      }

      .checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        width: 2.75rem;
        height: 2.75rem;
        border: 0.25rem solid #777c97;
        transform: translateY(-50%);
        border-radius: 100%;
        &.checkmark_img {
          width: 2.3125rem;
          height: 2.5625rem;
          background-image: url("./img/Shape_1009.svg");
          background-size: 100%;
          border-radius: 0;
          border: none;

          &.color {
            //fill: red;
          }
        }
        &::after {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1rem;
          height: 1rem;
          border-radius: 100%;
          background: #f0f1f6;
          transform: translate(-50%, -50%);
        }
      }

      .container input:checked ~ .checkmark {
        border-color: #f0f1f6;
      }

      .container input:checked ~ .text .duration {
        color: #f0f1f6;
      }
      .container input:checked ~ .text .duration_term {
        color: #f0f1f6;
      }
      .container input:checked ~ .checkmark_img {
        filter: brightness(9);
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .container input:checked ~ .checkmark:after {
        display: block;
      }

      .container .checkmark:after {
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: #f0f1f6;
        transform: translate(-50%, -50%);
      }
      .container {
        &:last-child {
          .checkmark {
            &::after {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .limit_btn {
    width: 100%;
    padding: 2.4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.625rem;
    &.activate {
      background-color: #3cb878;
    }
    &.back_main_page_btn {
      background-color: #383a43;
    }
    &.turn_off_limit_btn {
      background-color: #b83c48;
    }
  }
  .turn_off_limit_confirm_btns {
    width: 100%;
    display: flex;
    justify-content: center;
    > button {
      width: 22.3rem;
      height: 7.5rem;
      border-radius: 0.625rem;
      background: #383a43;
      &.confirm_green {
        margin-left: 2.25rem;
        background: #3cb878;
      }
    }
  }

  .info_about_limit {
    margin-bottom: 7.875rem;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 2.25rem;
    }
    .info_about_limit_amount {
      margin-bottom: 2rem;
      padding: 1.3rem 0 2rem;
      color: #b2b6dc;
      font-size: 2.75rem;
      border-bottom: 1px solid #353640;
    }
    .info_about_limit_term {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      p {
        font-size: 2.75rem;
        color: #b2b6dc;
      }
      span {
        margin-left: 1.25rem;
        color: #b2b6dc;
        font-size: 1.75rem;
      }
    }
  }
}
