@import "partials/mixins";
@import "partials/reset";
@import "partials/fonts.scss";

html,
body {
  @include clear;
  background-color: #202126;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "lbet-std";
  //font-family: "lbet-mt";
  @media (min-width: 1440px) {
    font-size: 12px;
  }
  @media (max-width: 850px) {
    font-size: 15px;
  }
  @media (max-width: 794px) {
    font-size: 13px;
  }
  @media (max-width: 696px) {
    font-size: 12px;
  }
  @media (max-width: 632px) {
    font-size: 11px;
  }
  @media (max-width: 580px) {
    font-size: 10px;
  }
  @media (max-width: 532px) {
    font-size: 9px;
  }
  @media (max-width: 475px) {
    font-size: 8px;
  }
  @media (max-width: 430px) {
    font-size: 7px;
  }
  @media (max-width: 375px) {
    font-size: 6px;
  }
  @media (max-width: 363px) {
    font-size: 6px;
  }
}
.mob_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;

  .mobile_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.main {
  height: 100%;
  padding-top: 9rem;
  &.foot_h {
    height: auto;
  }
}

button {
  color: #ffffff;
  font-family: "lbet-mt";
  font-size: 2.3125rem;
  cursor: pointer;
  overflow: hidden;
}
.slider_content {
  position: relative;
  width: 100%;
  height: 50vw;
  background-color: #282f54;
}

//aqedan axali
input {
  background: none;
  border: none;
  outline: none;
  font-family: "lbet-std";
  overflow: hidden;
  &::placeholder {
    font-family: "lbet-std";
  }
  &:focus {
    outline: none;
  }
}

.pop_up_mobile_menu_wrapper {
  // position: relative;
  // min-width: 320px;
  // max-width: 934px;
  // margin: 12.16rem auto 0;
  // font-family: "lbet-std";
  // //   font-family: "lbet-mt";
  // z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 9rem;
  background-color: rgba(0, 0, 0, 0.67);
  overflow: auto;
  z-index: 8000;
  &::-webkit-scrollbar {
    width: 0px;
  }
  .pop_up_mobile_menu {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.86rem 1.875rem 2.25rem 1.875rem;
    background-color: #2c2d34;
    color: #d5d8ec;
    border-radius: 3.33rem 3.33rem 0 0;
    &::-webkit-scrollbar {
      width: 0px;
    }
    &:before {
      position: absolute;
      content: "";
      right: 1.9rem;
      top: -7.5rem;
      width: 6rem;
      height: 6rem;
      border-radius: 0.625rem;
      background-color: #3d3e48;
      background-image: url("../public/img/Path\ 1189.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      z-index: 59;
    }
    &:after {
      position: absolute;
      content: "";
      right: 3.8rem;
      top: -3rem;
      width: 2.125rem;
      height: 2.125rem;
      background-color: #3d3e48;
      transform: rotate(42deg);
      z-index: 58;
    }
  }
}
.univ_btn {
  padding: 2rem 3.4rem;
  font-size: 2rem;
  color: #ffff;
  font-family: "lbet-mt";
  background-color: #3eb553;
  border-radius: 0.625rem;
  &.float {
    align-self: flex-end;
  }
}

select {
  appearance: none;
  cursor: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}
