@import "partials/mixins";

.mobile_sport_main {
  height: 100%;
  background-color: #191a1d;
  .mobile_sport_search {
    padding: 1.25rem;
    position: relative;
    .mobile_sport_input {
      width: 100%;
      height: 6rem;
      padding: 0 2.25rem;
      border-radius: 3rem;
      border: 1px solid #5a5f74;
      color: #ffffff;
      &::placeholder {
        color: #727687;
        font-size: 1.75rem;
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 4rem;
      transform: translateY(-50%);
      width: 2.5625rem;
      height: 2.5625rem;
      background: url("./img/Component 31 – 1s.svg") no-repeat center;
      background-size: 100%;
      cursor: pointer;
    }
  }
  .mobile_sport_slider {
    position: relative;
    padding: 1.25rem;
    overflow: hidden;
    .mobile_sport_slider_content {
      width: 100%;
      height: 50vw;
      border-radius: 1.25rem;
      background-color: #282f54;
    }
    .slider_dots {
      position: absolute;
      display: flex;
      align-items: center;
      text-align: center;
      left: 50%;
      bottom: 3rem;
      transform: translateX(-50%);
      .slider_dots_item {
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        border: transparent;
        margin: 0 1rem;
        span {
          position: absolute;
          width: 0.625rem;
          height: 0.625rem;
          background-color: #ffffff;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.active {
          span {
            background-color: #15b46a;
          }
          border: 0.125rem solid rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
  .top_game_nav {
    position: relative;
    height: 10rem;
    margin: 2.1rem 0 1.375rem;
    width: 100%;
    border: 0.0625rem solid #8d91a5;
    h3 {
      padding: 0 1rem;
      font-size: 1.75rem;
      color: #ffffff;
      background-color: #191a1d;
      position: absolute;
      top: -1rem;
      left: 3rem;
    }
    .game_nav {
      width: 100%;
      .game_nav_list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .game_nav_item {
          position: relative;
          flex-basis: 25%;
          height: 10rem;
          margin-right: 0.625rem;
          font-size: 2.375rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .game_nav_link {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 1.5rem;
            text-align: center;
            .game_nav_img {
              width: 3.375rem;
            }
            .sport_name {
              margin-top: 0.8125rem;
              color: #cdd4e8;
              font-size: 1.625rem;
            }
          }
          .game_nav_link__border {
            width: 100%;
            height: 0.6875rem;
            position: absolute;
            bottom: 1px;
            display: block;
            opacity: 0;
            border-radius: 0.875rem 0.875rem 0 0;
            background-color: #ffe32c;
          }
          &:last-child {
            margin-right: 0;
          }
          &.active {
            .game_nav_link__border {
              opacity: 1;
            }
          }
        }
      }
    }
    &.deact_nav {
      border: none;
      margin: 0;
      .game_nav {
        .game_nav_list {
          overflow-x: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          &::-webkit-scrollbar {
            height: 3px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
          .game_nav_item {
            position: relative;
            margin-right: 0;
            min-width: 14rem;
            filter: grayscale(100%) opacity(50%);
            //opacity: 0.5;

            &.active {
              filter: none;
              background-image: url("img/mobile-sport/Group\ 1449.svg");
              background-repeat: no-repeat;
              background-position: 92% 12%;
              background-size: 1.3rem;
            }
            &::before {
              content: attr(title);
              display: block;
              position: absolute;
              top: 0.75rem;
              left: 1.5rem;
              font-size: 1.375rem;
              color: #24b84b;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 0.125rem;
              height: 3.5rem;
              background-color: #4a4a4c;
              right: 0;
            }

            .game_nav_link__border {
              width: 80%;
            }
            .game_nav_link {
              position: relative;
            }
          }
        }
      }
    }
  }
  .champions_league_title {
    position: relative;
    display: flex;
    align-items: center;
    height: 5.93rem;
    padding: 1.5rem;
    margin-bottom: 0.4rem;
    background-color: #2e3240;
    .champions_league_img {
      width: 3.125rem;
    }
    h3 {
      margin-left: 1.3125rem;
      color: #cdd4e8;
      font-size: 2.125rem;
    }
    &::after {
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 1.82rem;
      height: 0.92rem;
      content: "";
      background: url("img/mobile-sport/Path\ 1216.svg") no-repeat right;
      background-size: 100%;
      transform: translate(-50%, -50%);
    }
  }
  .game_lig_content {
    position: relative;
    margin-bottom: 11rem;
    .lig_box {
      position: relative;
      padding: 1.25rem 1.25rem 0;
      margin-bottom: 0.4rem;
      transition: 0.2s;
      background-color: #24262d;
      .lig_box_head {
        .lig_box_head_top {
          display: flex;
          margin-bottom: 1rem;
          align-items: center;
          justify-content: space-between;
          line-height: 1.3;
          .lig_box_icon {
            width: 2.3rem;
            margin-right: 1.4625rem;
          }
          .lig_box_head_left {
            position: relative;
            display: flex;
            align-items: center;
            .game_desc {
              .game_time {
                color: #a8b0d1;
                font-size: 1.625rem;
              }
              .game_lig_title {
                color: #ffffff;
                font-size: 2.125rem;
              }
            }
          }
          .lig_box_head_right {
            display: flex;
            align-items: center;
            .lig_box_head_statis {
              width: 2.1875rem;
            }
            .lig_box_head_button {
              width: 4rem;
              height: 4rem;
              margin: 0 1.25rem;
              background-color: #34394a;
              border-radius: 0.625rem;
              @include flex-center;
              .lig_box_head_arrow {
                width: 1.82rem;
              }
            }
            .lig_box_head_plus_count {
              width: 6.625rem;
              height: 4rem;
              text-align: center;
              background-color: #24b84b;
              border-radius: 0.625rem;
              line-height: 4rem;
              color: #ffffff;
              font-size: 1.875rem;
            }
          }
        }
        .lig_box_head_game_bet {
          display: flex;
          justify-content: space-between;
        }
      }
      .lig_box_content {
        display: none;

        > div {
          margin-top: 1.25rem;
          display: flex;
          justify-content: space-between;
          > div {
            &.active {
              background-color: #f2c841;
              .bet_pos,
              .bet_koef {
                color: #000000;
              }
            }
          }
        }
        .lig_box_content_koef {
        }
        .lig_box_content_score {
          > div {
            width: 49%;
          }
        }
        .lig_box_content_more {
          .game_bet_btn_goal {
            position: relative;
            border-radius: 0.625rem;
            border: 0.125rem solid #393e4e;
            width: 32%;
            @include flex-center;
            .goal_count {
              color: #b2bee5;
              font-size: 2.125rem;
            }
            &::before {
              content: "";
              width: 1.8rem;
              height: 1.8rem;
              background-image: url("img/mobile-sport/Path\ 1217.svg");
              background-size: contain;
              background-repeat: no-repeat;
              //background-size: 100%;
              position: absolute;
              left: 1rem;
              transform: translateY(-50%);
              top: 50%;
            }
            &::after {
              content: "";
              width: 1.8rem;
              height: 1.8rem;
              background-image: url("img/mobile-sport/Path\ 1218.svg");
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              right: -0.1rem;
              transform: translateY(-50%);
              top: 50%;
            }
          }
        }
        .lig_box_content_consent {
          > div {
            width: 49%;
          }
        }
      }

      &.active {
        .lig_box_content {
          display: block;
        }
        .lig_box_head_arrow {
          transform: rotate(180deg);
        }
      }
    }
    .game_aditional_item {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 1.25rem 0rem;
      &:first-child {
        margin-top: 1rem;
      }
      .game_aditional_item_title {
        display: flex;
        margin-bottom: 1.4rem;
        align-items: center;
        .game_aditional_item_img {
          > svg {
            width: 2.3rem;
            height: 2.18rem;
          }
        }
        h3 {
          margin-left: 1.3125rem;
          color: #ffffff;
          font-size: 1.875rem;
        }
        &.active {
          .game_aditional_item_img {
            svg {
              > path {
                fill: #f2c841;
              }
            }
          }
        }
      }
      .game_aditional_item_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &.btn_count {
        .game_aditional_item_row {
          > div {
            width: 49%;
          }
        }
      }
    }
    .game_bet_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25rem;
      padding: 0 1.25rem;
      width: 32%;
      height: 5.375rem;
      background: #393e4e;
      border-radius: 0.625rem;
      .bet_pos {
        color: #939fc8;
        font-size: 1.875rem;
      }
      .bet_koef {
        color: #ffffff;
        font-size: 2.125rem;
      }
      &.active {
        background-color: #f2c841;
        .bet_pos,
        .bet_koef {
          color: #000000;
        }
      }
      &.range {
        font-size: 2.125rem;
        color: #b2bee5;
        justify-content: center;
        background: transparent;
        border: 0.125rem solid #393e4e;
      }
    }
    .goal_coeff_box {
      position: absolute;
      width: 35rem;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      // padding: 1.375rem;
      transform: translate(-50%, -50%);
      background-color: #42485e;
      border-radius: 1.25rem;
      .goal_coeff_title {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 0;
        p {
          width: 33%;
          text-align: center;
          font-size: 1.625rem;
          color: #c7cde6;
        }
      }
      .goal_coeff_table {
        display: flex;
        padding: 0rem 1.375rem 1.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
        > div {
          width: 29%;
          @include flex-center;
          color: #ffffff;
          font-size: 2.125rem;
        }
        .center_btn {
          width: 35%;
          background-color: transparent;
          border: 0.125rem solid #6a718a;
        }
      }
      .goal_coeff_box_close {
        padding-bottom: 3rem;
        font-size: 2.125rem;
        color: #d9dbec;
        text-align: center;
      }
    }
  }
  .bottom_nav {
    position: fixed;
    top: 100%;
    display: flex;
    height: 10.875rem;
    max-height: 100%;
    width: 100%;
    margin-top: -10.875rem;
    padding: 0 1rem;
    pointer-events: all;
    text-align: center;
    background: #1f2024;
    z-index: 8000;
    .bottom_nav_list {
      width: 100%;
      display: flex;
      align-items: center;
      .bottom_nav_item {
        flex: 1;
        position: relative;
        @include flex-center;
        height: 100%;
        .bottom_nav_link {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 6.875rem;
          align-items: center;
          padding: 0 1.5rem;
          text-align: center;
          .bottom_nav_img {
            position: relative;
            display: flex;
            width: 4rem;
            height: 2.98rem;
            &.dots {
              top: 0.8rem;
              display: flex;
              justify-content: space-around;
              img {
                width: 1.125rem;
              }
            }
            &.bg_title {
              &::after {
                background: #24b84b;
              }
            }
          }
          .bottom_nav_name {
            margin-top: 1.56rem;
            color: #cdd4e8;
            font-size: 1.875rem;
          }
        }
        .bottom_nav_border {
          width: 100%;
          height: 0.6875rem;
          position: absolute;
          bottom: 0;
          display: block;
          opacity: 0;
          border-radius: 0.875rem 0.875rem 0 0;
          background-color: #ffe32c;
        }
        &.active {
          .bottom_nav_border {
            opacity: 1;
          }
        }
        &:first-child {
          .bottom_nav_img {
            &::after {
              content: attr(title);
              position: absolute;
              right: -1.9rem;
              bottom: 0;
              padding: 0.2rem 0.625rem;
              font-size: 1.375rem;
              text-transform: uppercase;
              background-color: #40424b;
              border-radius: 0.875rem;
              color: #cdd4e8;
            }
          }
        }
      }
    }
  }
  .champ_league_header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background-color: #333747;
    .champ_league_head {
      display: flex;
      align-items: center;
      padding: 1rem;
      .champ_league_back_img {
        width: 2.625rem;
      }
      h3 {
        margin-left: 2rem;
        font-size: 2.125rem;
        color: #ffffff;
      }
    }
    .champ_league_head_date {
      display: flex;
      padding: 2rem 3rem 1rem 2.43rem;
      justify-content: space-between;
      .champ_league_head_time {
        color: #f1f2f8;
        font-size: 1.625rem;
      }
      .champ_league_head_statis_img {
        width: 2.1875rem;
      }
    }
    .champ_league_teams {
      position: relative;
      width: 100%;
      display: flex;
      //display: none;
      align-items: center;
      justify-content: center;
      height: 5.75rem;
      border: 1px solid #6b6f81;
      border-radius: 2.875rem;
      &::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        width: 1.82rem;
        height: 0.92rem;
        content: "";
        background: url("img/mobile-sport/Path\ 1216.svg") no-repeat right;
        background-size: 100%;
        transform: translate(-50%, -50%);
      }
    }
    .champ_league_teams_info {
      display: none;
      width: 100%;
      position: absolute;
      top: -0.3rem;
      left: 0;
      background-color: #42485e;
      border-radius: 2.875rem;
      z-index: 8000;
      // transform: translateX(-50%, -50%);
      .champ_league_teams_info_item {
        position: relative;
        //height: 7.93rem;
        display: flex;
        padding: 1.5rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #545c7a;
        &:first-child {
          .champ_league_teams_info_row {
            margin-top: 0;
          }
          &::after {
            position: absolute;
            top: 50%;
            right: 1rem;
            width: 1.82rem;
            height: 0.92rem;
            content: "";
            background: url("img/mobile-sport/Path 1216.svg") no-repeat right;
            background-size: 100%;
            transform: translate(-50%, -50%);
          }
        }
        &:last-child {
          border-bottom: none;
        }
        .champ_league_teams_info_time {
          color: #f1f2f8;
          font-size: 1.625rem;
        }
        .champ_league_teams_info_row {
          @include flex-center;
          margin-top: 1rem;
        }
        &.half {
          .divider {
            @include flex-center;
            width: 4.15rem;
            height: 2.375rem;
            background-color: #43a047;
            border-radius: 1.18rem;
            font-size: 1.31rem;
            color: #ffffff;
            overflow: hidden;
          }
          .champ_league_teams_name {
            &:first-child {
              .champ_league_team_logo {
                margin-left: 1.825rem;
                margin-right: 0.5rem;
              }
            }
            &:last-child {
              .champ_league_team_logo {
                margin-right: 1.825rem;
                margin-left: 0.5rem;
              }
            }
          }
        }
      }
    }
    .champ_league_teams_name {
      display: flex;
      align-items: center;
      p {
        font-size: 1.875rem;
        color: #ffffff;
      }
      .champ_league_team_logo {
        width: 3.6rem;
        margin: 0 1.825rem;
      }
    }
    .divider {
      width: 1.375rem;
      height: 0.3125rem;
      background-color: #9aa1b2;
      border-radius: 0.3125rem;
    }
  }
  .additional_nav {
    position: relative;
    width: 100%;
    height: 7.1875rem;
    display: flex;
    padding: 0 1.25rem;
    align-items: center;
    background-color: #2b3040;
    .additional_nav_icon {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 2rem;
      background-color: #2b3040;

      .additional_nav_search {
        width: 2.5625rem;
      }
      .additional_nav_star {
        position: relative;
        width: 3rem;
        margin-left: 1.93rem;
        &::after {
          content: attr(title);
          position: absolute;
          right: -0.5rem;
          top: 0.31rem;
          width: 1.625rem;
          height: 1.625rem;
          border-radius: 50%;
          background-color: #f2c841;
          color: #000000;
          @include flex-center;
          font-size: 1.25rem;
        }
      }
    }
    .additional_nav_list {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0 1rem;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar {
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
  .ticket_content {
    position: relative;
    width: 100%;
    min-height: calc(100% - 10.875rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 10.87rem;
    background-color: #393e4e;
    border-radius: 2.5rem 2.5rem 0 0;
    .ticket_top_panel {
      display: flex;
      flex-direction: column;
      background-color: #3f4555;
      border-radius: 2.5rem 2.5rem 0 0;
      .ticket_header {
        display: flex;
        padding: 1.55rem 2rem 3.25rem 2.25rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #4f556a;
        .ticket_header_title {
          display: flex;
          align-items: center;
          .ticket_header_title_img {
            width: 3.08rem;
          }
          h3 {
            margin-left: 1.6rem;
            font-size: 2.25rem;
            color: #ffffff;
          }
        }
        .ticket_arrow_icon {
          width: 2.64rem;
        }
      }
      .ticket_nav {
        width: 100%;
        display: flex;
        padding: 0 1.5rem;
        .ticket_nav_item {
          position: relative;
          margin-right: 3rem;
          &:last-child {
            margin-right: 0;
          }
          //flex: 1;
          &.active {
            .ticket_nav_link {
              color: #ffe32c;
            }
            .ticket_nav_border {
              opacity: 1;
            }
          }
          .ticket_nav_link {
            display: block;
            line-height: 7.1875rem;
            padding: 0 1.5rem;
            text-align: center;
            color: #bfc4d4;
            font-family: "lbet-mt";
            font-size: 2.25rem;
          }
          .ticket_nav_border {
            width: 100%;
            height: 0.6875rem;
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0;
            border-radius: 0.875rem 0.875rem 0 0;
            background-color: #ffe32c;
          }
        }
      }
    }
    .ticket_desc_box {
      .ticket_desc_item {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1.25rem;
        background-color: #3a3f4d;
        border-bottom: 1px solid #707070;
        &.ti_system {
          padding-left: 1.8125rem;
          .ticket_coef {
            align-items: flex-end;
          }
        }
        .ticket_desc_item_left {
          display: flex;
          .ticket_num {
            position: relative;
            font-size: 2.5rem;
            color: #adb3c6;
            &:after {
              position: absolute;
              content: "";
              width: 1rem;
              height: 3.4375rem;
              border-radius: 0 1rem 0 0;
              background-color: #545d77;
              top: 4rem;
              left: 0;
            }
          }
          .ticket_desc {
            display: flex;
            padding-left: 3rem;
            line-height: 1.4;
            flex-direction: column;
            .ticket_desc-league {
              color: #a8b0d1;
              font-size: 1.5rem;
            }
            .ticket_desc-name {
              color: #ffffff;
              font-size: 2.125rem;
            }
            .ticket_desc-result {
              display: flex;
              align-items: center;
              p {
                margin-right: 1.25rem;
                font-size: 2rem;
                color: #ffffff;
                font-weight: 300;
              }
              span {
                font-size: 2rem;
                color: #15b46a;
              }
            }
          }
        }

        .ticket_coef {
          position: relative;
          @include flex-center;
          width: 7.8rem;
          height: 4.125rem;
          align-self: flex-end;
          font-size: 2.5rem;
          color: #ffffff;
          overflow: hidden;
          &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 0.5rem solid #15b46a;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid #15b46a;
            border-bottom: 0.5rem solid transparent;
            position: absolute;
            top: 0px;
            right: 0;
          }
        }
        &:after {
          position: absolute;
          right: 2rem;
          top: 1.25rem;
          content: "";
          display: block;
          background: url("img/mobile-sport/Path\ 1277.svg") center no-repeat;
          background-size: 100%;
          width: 2rem;
          height: 2rem;
        }
        &:last-child {
          border-bottom: none;
          box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
        }
      }
      .ti_block {
        display: flex;
        flex-direction: column;
        .ti_block_head {
          display: flex;
          padding: 1.8rem;
          justify-content: space-between;
          background-color: #2d303b;
          .ti_block_title {
            font-size: 2rem;
            color: #ffffff;
          }
          .ti_block_mult {
            display: flex;
            font-size: 2rem;
            color: #bbc4e6;
            span {
              margin-left: 0.5rem;
            }
          }
        }
        .ti_block_item_group {
          position: relative;
          width: 100%;
          &::before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 0.8rem;
            height: 100%;
            z-index: 5;
          }
          &.first {
            &:before {
              background-color: #29c2e2;
            }
          }
          &.second {
            &:before {
              background-color: #d9255c;
            }
          }
          &.third {
            &:before {
              background-color: #15b46a;
            }
          }
        }
      }
      .ti_block_footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1.25rem 0 1.25rem;
        background-color: #2d303b;
        p {
          color: #ffffff;
          font-size: 2rem;
        }
      }

      .item_sys_select {
        position: absolute;
        width: 7.4rem;
        height: 4rem;
        right: 7rem;
        top: 0.8rem;
        cursor: pointer;
        line-height: 1;
        background: #3a3f4d;
        border-radius: 0.625rem;

        .select_box {
          height: 100%;
          width: 7.4rem;
          padding-left: 1rem;
          background-color: #3a3f4d;
          color: white;
          border: 1px solid #727888;
          border-radius: 0.625rem;
          font-size: 2rem;
        }
        &::after {
          position: absolute;
          top: 50%;
          right: 1rem;
          content: "";
          display: block;
          width: 1.8rem;
          height: 0.875rem;
          transform: translateY(-50%);
          background: url("img/mobile-sport/Path\ 1311.svg") center no-repeat;
          background-size: 100%;
        }
        &::before {
          position: absolute;
          content: "";
          display: block;
          width: 1px;
          height: 1.3125rem;
          background-color: #929da8;
          top: 50%;
          right: 3.8rem;
          transform: translateY(-50%);
        }
        &.block_footer {
          position: relative;
          right: 0;
          top: 0;
          width: 11.625rem;
          height: 4.625rem;
          margin: 0 2rem;
          background-color: #2d303b;
          .select_box {
            width: 11.625rem;
            padding-left: 2rem;
            background-color: #2d303b;
          }
        }
      }
    }
    .ticket_content_bottom {
      display: flex;
      flex-direction: column;
      padding: 2rem 1.25rem 1.25rem 1.25rem;
      background-color: #3f4555;
      .ticket_info_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        > div {
          height: 6.25rem;
          border-radius: 0.625rem;
        }
        .ticket_info_btn {
          width: 31%;
          position: relative;
          @include flex-center;
          color: #ffffff;
          font-size: 2.25rem;
          background-color: transparent;
          border: 1px solid #8b99b8;
          &::after {
            content: attr(title);
            position: absolute;
            padding: 0 0.5rem;
            bottom: -0.625rem;
            left: 50%;
            transform: translateX(-50%);
            color: #cdd4e8;
            font-size: 1.625rem;
            background-color: #3f4555;
            white-space: pre;
          }
        }
        .ticket_bet_btn {
          width: 34%;
          display: flex;
          padding: 01.25rem;
          justify-content: space-between;
          align-items: center;
          color: #000000;
          background-color: #ffffff;
          p {
            font-size: 1.625rem;
          }
          span {
            font-size: 2.25rem;
          }
        }
        &.ti_sys {
          > div {
            width: 49%;
          }
          .ticket_bet_btn {
            margin-bottom: 1.4375rem;
          }
        }
      }

      .ticket_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ticket_btn {
          position: relative;
          width: 7.5rem;
          height: 7.5rem;
          margin-right: 1.25rem;
          border-radius: 0.625rem;
          background-color: #434a64;
          //background-image: url("img/mobile-sport/Group 1199.svg");
          background-position: center center;
          background-size: 40%;
          background-repeat: no-repeat;
          &.ticket_btn_delete {
            background-image: url("img/mobile-sport/Group 1199.svg");
          }
          &.ticket_btn_share {
            background-image: url("img/mobile-sport/Path\ 1298.svg");
          }
        }
        .bet_success_button {
          @include flex-center;
          height: 7.5rem;
          flex: 1;
          font-size: 2.5rem;
          color: #ffffff;
          font-family: "lbet-mt";
          background-color: #24b84b;
          border-radius: 0.625rem;
        }
      }
    }
  }
  .sport_history_content {
    width: 100%;
    height: 100%;
    padding-bottom: 10.875rem;
    background-color: #24262d;
    .sport_history_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2.5rem 0 1rem;
      border-bottom: 1px solid #4f556a;
      .history_nav_list {
        display: flex;
        flex-grow: 1;
      }
      .sport_history_cal {
        width: 2.56rem;
      }
    }
    .sport_history_statement {
      display: flex;
      padding: 1.25rem;
      padding-bottom: 10.87rem;
      flex-direction: column;
      .statement_block {
        display: flex;
        flex-direction: column;

        .statement_block_title {
          margin-bottom: 1.25rem;
          font-size: 1.875rem;
          color: #9fa9c4;
        }
        .statement_block_item {
          margin-bottom: 0.625rem;
          padding: 1.25rem;
          background-color: #3a3f4d;
          border-radius: 0.625rem;
          &:last-child {
            margin-bottom: 1.5rem;
          }
          &.cash_out {
            .st_item_top {
              .st_item_top_right {
                .st_item_state {
                  margin-right: 2rem;
                }
                .st_item_status {
                  display: none;
                }
                .st_item_top_button {
                  display: flex;
                }
              }
            }
          }
          .st_item_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .st_item_top_icon {
              width: 2.08rem;
            }
            .st_item_top_info_box {
              display: flex;
              flex-direction: column;
              line-height: 1.4;
              p {
                color: #aeb8d2;
                font-size: 1.4rem;
              }
              span {
                color: #ffffff;
                font-size: 2rem;
              }
              &.profit {
                span {
                  color: #ffe32a;
                }
              }
            }
            .st_item_top_right {
              display: flex;
              align-items: center;
              width: 28%;
              .st_item_state {
                width: 1.625rem;
                height: 1.625rem;
                margin-right: 1rem;
                background-color: #a1a8be;
                border-radius: 50%;
                &.gr {
                  background-color: #03e47b;
                }
                &.rd {
                  background-color: #f95a48;
                }
              }
              .st_item_top_button {
                display: none;
                position: relative;
                width: 11.18rem;
                height: 5rem;
                align-items: center;
                justify-content: center;
                background-color: #00897b;
                border-radius: 0.625rem;
                color: #ffe32a;
                font-size: 2rem;
                &:after {
                  position: absolute;
                  content: attr(title);
                  padding: 0.5rem 1rem;
                  font-size: 1.25rem;
                  color: #ffffff;
                  background-color: #3a3f4d;
                  border-radius: 0.68rem;
                  top: -1.1875rem;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
              .st_item_status {
                display: block;
                font-size: 2rem;
                color: #a8b0d1;
              }
            }
          }
          .st_item_bottom {
            display: flex;
            align-items: center;
            margin-top: 1.8rem;
            .st_item_dots_group {
              display: flex;
              .st_item_dot {
                width: 1rem;
                height: 1rem;
                margin-right: 1.87rem;
                border-radius: 50%;
                background-color: #a1a8be;
                &.gr {
                  background-color: #03e47b;
                }
                &.rd {
                  background-color: #f95a48;
                }
              }
            }
            .st_item_line {
              display: flex;
              flex: 1;
              height: 1px;
              background-color: #525a71;
            }
          }
        }
      }
    }
    &.single {
      padding: 1.25rem;
      position: relative;
      width: 100%;
      min-height: calc(100% - 10.875rem);
      height: auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 10.87rem;

      .statement_item_header {
        padding: 1.25rem 1.25rem 2.5rem 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_left_part {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .back_icon {
            width: 2.625rem;
          }
          p {
            margin-left: 1.875rem;
            font-size: 2.125rem;
            color: #ffffff;
          }
        }
        .header_right_part {
          display: flex;
          align-items: center;
          .ticket_state {
            width: 1.875rem;
            height: 1.875rem;
            background-color: #a1a8be;
            border-radius: 50%;
            &.gr {
              background-color: #03e47b;
            }
            &.rd {
              background-color: #f95a48;
            }
          }
          .ticket_status {
            margin-left: 1.3rem;
            color: #a8b0d1;
            font-size: 2.25rem;
          }
        }
      }
      .statement_content {
        width: 100%;
        background-color: #3a3f4d;
        border-radius: 1rem;
        overflow: hidden;
        .statement_content_head {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.875rem;

          p {
            margin-right: 2.578rem;
            font-size: 2.25rem;
            color: #d5d8ec;
          }
          .tickek_num_img {
            width: 2.395rem;
          }
          &::before {
            position: absolute;
            top: 50%;
            left: 2rem;
            content: "";
            width: 0.9rem;
            height: 1.82rem;
            background: url("img/mobile-sport/Path\ 1306.svg") no-repeat;
            background-size: 100%;
            transform: translateY(-50%);
          }
          &::after {
            position: absolute;
            top: 50%;
            right: 2rem;
            content: "";
            width: 0.9rem;
            height: 1.82rem;
            background: url("img/mobile-sport/Path\ 1305.svg") no-repeat;
            background-size: 100%;
            transform: translateY(-50%);
          }
        }
        .statement_item {
          position: relative;

          border-top: 1px solid #707070;
          &.rd {
            .st_item_desc_left {
              .st_item_num {
                &:after {
                  background-color: #f95a48;
                }
              }
              .st_item_desc {
                .st_item_bottom {
                  .st_item_desc_right {
                    .st_item_status {
                      background-color: #f95a48;
                    }
                  }
                }
              }
            }
          }
          &.gr {
            .st_item_desc_left {
              .st_item_num {
                &:after {
                  background-color: #03e47b;
                }
              }
              .st_item_desc {
                .st_item_bottom {
                  .st_item_desc_right {
                    .st_item_status {
                      background-color: #03e47b;
                    }
                  }
                }
              }
            }
          }
          &.live_game {
            background-color: #454c61;
            border: none;
            box-shadow: 0 -0.1875rem 0.375rem rgba(0, 0, 0, 0.06);
            .watch_live_section {
              display: block;
            }
            .st_item_desc_left {
              .live_game_block {
                .live_game_icons {
                  .live_game_dropdown {
                    .dropdown_arrow {
                      transform: rotate(0deg);
                    }
                  }
                }
              }
            }
          }
          .st_item_desc_left {
            display: flex;
            width: 100%;
            width: 100%;
            min-height: 11rem;
            display: flex;
            justify-content: space-between;
            padding: 1.25rem;
            .st_item_num {
              position: relative;
              font-size: 2.5rem;
              color: #adb3c6;
              &:after {
                position: absolute;
                content: "";
                width: 1rem;
                height: 3.4375rem;
                border-radius: 0 1rem 0 0;
                background-color: #545d77;
                top: 4rem;
                left: 0;
              }
            }
            .st_item_desc {
              display: flex;
              padding-left: 3rem;
              line-height: 1.4;
              flex-direction: column;
              flex-grow: 1;
              .st_item_desc-legue {
                display: flex;
                align-items: center;
                color: #a8b0d1;
                font-size: 1.625rem;
                .legue_time {
                  margin-right: 1rem;
                  padding: 3px 1rem;
                  border-radius: 1.18rem;
                  background-color: #353843;
                }
              }
              .st_item_bottom {
                display: flex;
                margin-top: 0.5rem;
                justify-content: space-between;
                .st_item_desc-name {
                  display: flex;
                  align-items: center;
                  color: #ffffff;
                  font-size: 2.125rem;
                  //white-space: nowrap;
                  .live_score {
                    display: none;
                    margin-left: 1.25rem;
                    padding: 0.18rem 0.625rem;
                    font-size: 1.875rem;
                    color: #ffffff;
                    background-color: #43a047;
                    border-radius: 0.625rem;
                  }
                }
                .st_item_desc-result {
                  display: flex;
                  align-items: center;
                  p {
                    margin-right: 1.25rem;
                    font-size: 2rem;
                    color: #ffffff;
                    font-weight: 300;
                  }
                  span {
                    font-size: 2rem;
                    color: #15b46a;
                  }
                }
                .st_item_desc_right {
                  display: flex;
                  align-items: center;
                  height: 4.125rem;
                  align-self: flex-end;
                  .st_item_status {
                    width: 1.625rem;
                    height: 1.625rem;
                    border-radius: 50%;
                    background-color: #545d77;
                  }
                  .st_item_coef {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7.8rem;
                    height: 4.125rem;
                    align-self: flex-end;
                    font-size: 2.5rem;
                    color: #ffffff;
                    overflow: hidden;
                    &::before {
                      content: "";
                      display: none;
                      width: 0;
                      height: 0;
                      border-top: 0.5rem solid #15b46a;
                      border-left: 0.5rem solid transparent;
                      border-right: 0.5rem solid #15b46a;
                      border-bottom: 0.5rem solid transparent;
                      position: absolute;
                      top: 0px;
                      right: 0;
                    }
                  }
                }
              }
            }
            .live_game_block {
              display: flex;
              justify-content: space-between;
              padding-left: 3rem;
              flex-grow: 1;
              align-items: center;

              .live_game_info {
                display: flex;
                align-items: center;
                .live_game_title {
                  display: flex;
                  font-size: 1.875rem;
                  color: #ffffff;
                }
                .live_game_score {
                  margin-left: 1.8rem;
                  padding: 0.556rem 0.625rem;
                  font-size: 1.875rem;
                  color: #ffffff;
                  background-color: #535b74;
                  border-radius: 0.625rem;
                  &.live {
                    background-color: #43a047;
                  }
                }
              }
              .live_game_icons {
                display: flex;
                align-items: center;
                .live_game_tv_icon {
                  width: 3.144rem;
                }
                .live_game_field_icon {
                  width: 3.37rem;
                  margin: 0 3.18rem;
                }
                .live_game_dropdown {
                  width: 4rem;
                  height: 4rem;
                  @include flex-center;
                  border-radius: 0.625rem;
                  background-color: #565f7a;
                  .dropdown_arrow {
                    width: 1.82rem;
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
          .watch_live_section {
            width: 100%;
            height: 29rem;
            background-color: #6abc78;
            display: none;
          }
          &.live {
            .st_item_desc_left {
              .st_item_num {
                &:after {
                  background-color: #43a047;
                }
              }
            }
            .st_item_desc {
              .st_item_bottom {
                .st_item_bottom_left {
                  .live_score {
                    display: flex;
                  }
                }
                .st_item_desc_right {
                  .st_item_status {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .pozition_block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.25rem;
          border-top: 1px solid #707070;
          .pozition_add_button {
            height: 5.625rem;
            display: flex;
            align-items: center;
            padding: 0 1.5rem;
            background-color: #0288d1;
            border-radius: 3rem;
            .pozition_add_icon {
              width: 3.25rem;
              height: 3.25rem;
              background-color: #279bdb;
              font-size: 2rem;
              font-weight: bold;
              border-radius: 50%;
              @include flex-center;
            }
            p {
              margin-left: 1.375rem;
              font-size: 1.7rem;
              color: #ffffff;
            }
          }
        }
        .st_content_buttons {
          padding: 2.25rem 1.9rem 3rem;
          background-color: #3f4555;
          display: flex;
          justify-content: space-between;
          align-items: center;
          > div {
            width: 30%;
          }
          .st_content_btn {
            position: relative;
            @include flex-center;
            height: 6.25rem;
            font-size: 2.25rem;
            color: #15b46a;
            border: 1px solid #8b99b8;
            border-radius: 0.625rem;
            &::after {
              position: absolute;
              content: attr(title);
              display: block;
              bottom: -0.6875rem;
              left: 50%;
              padding: 0rem 1rem;
              color: #cdd4e8;
              font-size: 1.625rem;
              transform: translateX(-50%);
              background-color: #3f4555;
            }
          }
        }
      }
      .sport_history_content_footer {
        display: flex;
        padding: 1.25rem 0;
        justify-content: space-between;
        align-items: center;
        .btn_share {
          position: relative;
          width: 7.5rem;
          height: 7.5rem;
          margin-right: 1.25rem;
          border-radius: 0.625rem;
          background-color: #434a64;
          background-position: center center;
          background-size: 40%;
          background-repeat: no-repeat;
          background-image: url("img/mobile-sport/Path 1298.svg");
        }
        .btn_cash_out {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
          flex-grow: 1;
          height: 7.5rem;
          background-color: #00897b;
          border-radius: 0.625rem;
          .btn_cash_out_left {
            display: flex;
            align-items: center;
            .btn_cash_out_img {
              width: 3.125rem;
            }
            p {
              margin-left: 1.275rem;
              color: #ffffff;
              font-size: 2.125rem;
            }
          }
          .btn_cash_out_num {
            color: #ffffff;
            font-size: 2.125rem;
          }
        }
      }
    }
  }
}

.sport_nav_menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10.875rem);
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 9000;
  .sport_nav {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #303239;
    &::after {
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      background-color: #393d4b;
      position: absolute;
      bottom: -0.8rem;
      left: 3.625rem;
      transform: rotate(45deg);
    }
    .sport_nav_header {
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 85%;
      background: #303239;
      border-bottom: 1px solid #40444e;
      z-index: 9999;
      .sport_nav_search_box {
        display: flex;
        padding: 1.25rem 3.75rem 0 1.5rem;
        justify-content: space-between;
        align-items: center;
        .mobile_sport_search {
          //padding: 1.25rem;
          position: relative;
          width: 86%;
          .mobile_sport_input {
            width: 100%;
            height: 6rem;
            padding: 0 2.25rem;
            border-radius: 3rem;
            border: 1px solid #5a5f74;
            color: #ffffff;
            &::placeholder {
              color: #727687;
              font-size: 1.75rem;
            }
          }
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 4rem;
            transform: translateY(-50%);
            width: 2.5625rem;
            height: 2.5625rem;
            background: url("./img/Component 31 – 1s.svg") no-repeat center;
            background-size: 100%;
            cursor: pointer;
          }
        }
        .sport_nav_menu_close {
          width: 2.6425rem;
        }
      }
      .sport_nav_games_calen {
        display: flex;
        flex-direction: column;
        padding: 1.25rem 1.25rem 0.5rem 1.25rem;
        .nav_games_btn {
          @include flex-center;
          margin-bottom: 1rem;
          width: 26%;
          height: 4.625rem;
          font-size: 1.75rem;
          background: #3d404b;
          color: #c4cae5;
          border-radius: 0.625rem;
          cursor: pointer;
          &.active {
            background-color: #f2c841;
            color: #000000;
          }
        }
        .sport_nav_games_row_day {
          display: flex;
          justify-content: space-between;
          .nav_games_btn {
            &:last-child {
              width: 7rem;

              img {
                width: 2.56rem;
              }
            }
          }
        }
        .sport_nav_games_row_time {
          display: flex;
          justify-content: space-between;
          > div {
            width: 15%;
          }
        }
      }
    }
    .sport_nav_list {
      position: relative;
      padding-top: 21rem;
      //background: #303239;
      //background-color: pink;
      overflow-y: auto;
      &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
      }
      .sp_item {
        position: relative;
        border-bottom: 1px solid #40444e;
        background-color: #303239;
        &:last-child {
          border-bottom: transparent;
        }

        &.show_subList {
          .sportSubsWrapper {
            display: flex;
          }
          .sp_item_link {
            box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
            .sp_nav_arrow {
              transform: rotate(0deg);
            }
          }
        }
        &.team_count {
          .sp_item_link {
            &::before {
              background: #2ba831;
              color: #ffffff;
            }
          }
        }

        .sp_item_link {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 7.6rem;
          padding: 0 2rem;

          span {
            margin-left: 2rem;
            font-size: 2rem;
            color: #cdd4e8;
          }
          .sp_nav_arrow {
            position: absolute;
            width: 2rem;
            right: 2rem;
            content: "";
            transform: rotate(-90deg);
          }

          &:before {
            width: 4.68rem;
            height: 2.875rem;
            content: attr(data-count);
            @include flex-center;
            position: absolute;
            top: 50%;
            right: 6rem;
            transform: translateY(-50%);
            background: transparent;
            border-radius: 1.43rem;
            color: #979ec0;
            font-size: 1.625rem;
          }
        }
        .sp_item_img {
          width: 3.75rem;
        }

        .sportSubsWrapper {
          display: none;
          flex-direction: column;
          background-color: #27282c;
          h3 {
            margin-top: 2rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            color: #ffe32c;
            font-size: 1.625rem;
          }
          .sportSubList {
            width: 100%;
            display: flex;
            flex-direction: column;

            .sportSubList_item {
              &.show_subList {
                .sportSubscheck {
                  display: flex;
                }
                .sportSubList_item_link {
                  .sp_nav_arrow {
                    transform: rotate(0deg);
                  }
                }
              }
              &.team_count {
                .sportSubList_item_link {
                  &::before {
                    background: #2ba831;
                    color: #ffffff;
                  }
                }
              }
            }
            .sportSubList_item_link {
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 7.6rem;
              padding: 0 2rem;
              border-bottom: 1px solid #40444e;
              &:before {
                width: 4.68rem;
                height: 2.875rem;
                content: attr(data-count);
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 6rem;
                transform: translateY(-50%);
                background: transparent;
                border-radius: 1.43rem;
                color: #979ec0;
                font-size: 1.625rem;
              }
              span {
                margin-left: 2rem;
                font-size: 2rem;
                color: #cdd4e8;
              }
              .sp_nav_arrow {
                position: absolute;
                width: 2rem;
                right: 2rem;
                content: "";
                transform: rotate(-90deg);
              }
            }

            .sportSubscheck {
              display: none;
              background-color: #1f2024;
              .sportSubscheckList {
                width: 100%;
                display: flex;
                flex-direction: column;
                .sportSubscheckList_item {
                  // &.show_subList {
                  //   .sportSubscheckList_link {
                  //     .sp_nav_arrow {
                  //       transform: rotate(0deg);
                  //     }
                  //   }
                  // }
                  &.team_count {
                    .sportSubscheckList_link {
                      &::before {
                        background: #2ba831;
                        color: #ffffff;
                      }
                    }
                  }
                  .sportSubscheckList_link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 7.6rem;
                    padding: 0 2rem;
                    border-bottom: 1px solid #40444e;
                    span {
                      margin-left: 2rem;
                      font-size: 2rem;
                      color: #cdd4e8;
                    }
                    .sp_nav_arrow {
                      position: absolute;
                      width: 3rem;
                      height: 3rem;
                      right: 1.7rem;
                      content: "";
                      background-image: url("img/mobile-sport/Rectangle\ 1102.svg");
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: 100%;
                    }

                    &:before {
                      width: 4.68rem;
                      height: 2.875rem;
                      content: attr(data-count);
                      @include flex-center;
                      position: absolute;
                      top: 50%;
                      right: 6rem;
                      transform: translateY(-50%);
                      background: transparent;
                      border-radius: 1.43rem;
                      color: #979ec0;
                      font-size: 1.625rem;
                    }
                    &.checked {
                      .sp_nav_arrow {
                        background-image: url("img/mobile-sport/Group\ 1420.svg");
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sport_nav_bottom_part {
      position: absolute;
      height: 8.75rem;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.25rem;
      background: #393d4b;
      border-bottom: 1px solid #40444e;
      z-index: 9999;
      .remove_watching_btn {
        position: relative;
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 0.625rem;
        background-color: #505664;
        background-image: url("img/mobile-sport/Group\ 1199.svg");
        background-position: center center;
        background-size: 47%;
        background-repeat: no-repeat;
      }
      .show_btn {
        display: flex;
        width: 18rem;
        height: 6.25rem;
        align-items: center;
        font-family: "lbet-mt";
        justify-content: center;
        background-color: #24b84b;
        border-radius: 0.625rem;
        cursor: pointer;
        p {
          font-size: 2rem;
          color: #ffffff;
          margin-right: 3.3rem;
        }
        span {
          font-size: 1.81rem;
          color: #ffffff;
          background-color: #2aa84b;
          border-radius: 0.625rem;
          padding: 0.75rem 1rem;
        }
      }
    }
  }
}
.additional_nav_item {
  position: relative;
  flex: 1;
  .additional_nav_link {
    display: block;
    line-height: 7.1875rem;
    padding: 0 1.5rem;
    text-align: center;
    color: #f2f2f2;
    font-size: 2.125rem;
  }
  .additional_nav_border {
    width: 100%;
    height: 0.6875rem;
    position: absolute;
    bottom: 0;
    display: block;
    opacity: 0;
    border-radius: 0.875rem 0.875rem 0 0;
    background-color: #ffe32c;
  }
  &.active {
    .additional_nav_link {
      color: #ffe32c;
    }
    .additional_nav_border {
      opacity: 1;
    }
  }
  &.sport_history_item {
    .additional_nav_link {
      color: #a3b3cb;
    }
  }
}
