@import "partials/mixins";
.main_nav_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 9000;
  display: none;
}
.nav {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #2c2d34;
  .nav_header {
    position: fixed;
    top: 0;
    display: flex;
    width: 85%;
    height: 9rem;
    padding: 0 3.5rem 0 3.125rem;
    justify-content: space-between;
    align-items: center;
    background: #2c2d34;
    border-bottom: 1px solid #484a58;
    z-index: 9999;
    .nav_logo {
      width: 24rem;
    }
    .nav_close {
      width: 2.9425rem;
      cursor: pointer;
    }
  }

  .main_nav_list {
    position: relative;
    padding-top: 9rem;
    background-color: #2c2d34;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0px;
    }

    h1 {
      padding: 2.875rem 2rem 2rem 3.125rem;
      color: #79829e;
      font-size: 2rem;
    }
    .main_nav_item {
      position: relative;
      margin-bottom: 2rem;
      padding: 0 3.5rem 0 3.125rem;
      overflow: hidden;
      transition: all 0.25s ease;
      .main_nav_link {
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 1.3;
        padding: 1.5rem 0;

        .game_icon {
          width: 3rem;
          margin-right: 3rem;
        }
        .game_desc {
          width: 85%;
          font-family: "lbet-mt";
          font-size: 2.125rem;
        }
        .sub_game {
          margin: 0 3rem;
          color: #838795;
          font-family: "lbet-mt";
          font-size: 2.125rem;
        }
        .arrow_icon {
          width: 2rem;
          transition: all 0.25s ease;
          img {
            float: right;
          }
        }
      }
      &.new_game {
        &::after {
          content: "new";
          position: absolute;
          top: 50%;
          right: 2rem;
          transform: translateY(-50%);
          padding: 1.08rem 1.6rem;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: bold;
          background-color: #ff145c;
          border-radius: 2.125rem;
        }
      }
      .sub_list {
        padding-left: 1.25rem;
        height: 0;
        overflow: hidden;
        transition: all 0.25s ease;
      }
      &.active {
        height: auto;
        background-color: #26272d;

        .arrow_icon {
          transform: rotate(90deg);
        }
        .sub_list {
          height: auto;
          padding-top: 1rem;

          .sub_li {
            position: relative;
            .sub_link {
              display: flex;
              padding-left: 5.6rem;
              font-size: 2.125rem;
              line-height: 7rem;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #b1bad6;
              }
            }
          }
        }
      }
    }
  }
}
