@import "partials/mixins";

.mobile_nav {
  width: 100%;
  .nav_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "lbet-mt";
    .nav__item {
      position: relative;
      //flex-basis: 25%;
      flex-basis: 25%;
      height: 5.625rem;
      margin-right: 10px;
      font-family: "lbet-mt";
      font-size: 2.375rem;
      &:last-child {
        margin-right: 0;
      }
      .nav__link {
        height: 5.625rem;
        display: block;
        padding: 0 1.5rem;
        text-align: center;
      }
      .nav__link__border {
        width: 100%;
        height: 0.6875rem;
        position: absolute;
        bottom: 0;
        display: block;
        opacity: 0;
        border-radius: 14px 14px 0 0;
        background-color: #ffe32c;
      }
      &.active {
        color: #ffe32c;
        .nav__link__border {
          opacity: 1;
        }
      }
    }
  }
}
