@import "partials/mixins";
.send_friend_section {
  padding: 4.25rem 2.875rem;
  .template_block {
    h1 {
      margin-bottom: 3.375rem;
      font-size: 2.875rem;
    }
    .template_item {
      position: relative;
      display: flex;
      height: 9rem;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.4375rem;
      padding: 0 0 0 2.25rem;
      background-color: #3a3f63;
      border-radius: 13.875rem;
      overflow: hidden;
      .friend_info_block {
        display: flex;
        align-items: center;
        .friend_img {
          width: 5rem;
        }
        .friend_info {
          display: flex;
          flex-direction: column;
          margin-left: 1.375rem;
          line-height: 1.3;
          .friend_name {
            font-size: 2.25rem;
            text-transform: capitalize;
          }
          .friend_num {
            color: #ccd1f6;
            font-size: 1.75rem;
          }
        }
      }
      .template_delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        height: 100%;
        cursor: pointer;
        .delete_btn {
          width: 2.39rem;
          float: right;
        }
      }
    }
    .send_friend_description {
      padding: 6.125rem 0 5rem 0;
      font-size: 1.875rem;
      color: #eeeeee;
      text-indent: 1.875rem;
      text-align: center;
      line-height: 1.3;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    flex-direction: column;
    .currency_input_block {
      padding-top: 1.125rem;
      display: flex;
      align-items: center;

      .currency_block {
        display: flex;
        align-items: center;
        p {
          margin: 0 1.25rem 0 3.75rem;
          color: #b2b6dc;
          font-size: 2.5rem;
        }
        .currency_block_arrow {
          width: 0;
          height: 0;
          border-style: solid;
          // border-width: 12px 16px 0px 12px;
          border-width: 1rem 0.75rem 0rem 0.75rem;
          border-color: #b2b6dc transparent transparent transparent;
        }
      }
    }
    &:first-child {
      &.pin {
        .form-control {
          color: #43485eed;
          background-color: #d8e2f5;
          border: none;
        }
      }
    }
    label {
      color: #cbd3dc;
      font-size: 2.25rem;
    }
    .form-control {
      width: 100%;
      height: 7.375rem;
      margin: 1.125rem 0 3.6875rem;
      border-radius: 0.625rem;
      // font-size: 2rem;
      font-size: 2.625rem;
      text-indent: 2rem;
      border: 1px solid #c9d0f9;
      color: #d8e2f5;
      &.currency_input {
        margin: 0px;
        &:focus {
          color: #43485e;
          background-color: #d8e2f5;
        }
      }
    }
  }
  .form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .transfer_btn {
    padding: 2.4rem 2.18rem;
    color: #ffffff;
    font-size: 2.3125rem;
    font-family: "lbet-mt";
    float: right;
    background-color: #43a047;
    border-radius: 0.625rem;
  }
}

.checkbox {
  width: 50%;
  position: relative;
  display: block;
  label {
    position: relative;
    min-height: 3.125rem;
    width: 3.5rem;
    display: block;
    //padding-left: 3.5rem;
    margin-bottom: 0;
    font-weight: normal;
    color: #cbd3dc;
    font-size: 2.25rem;
    cursor: pointer;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-44%);
      margin-left: 5rem;
      white-space: pre;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 3rem;
      height: 3rem;
      transition: transform 0.28s ease;
      border-radius: 0.625rem;
      border: 0.3125rem solid #c9d0f9;
    }
    &:after {
      content: "";
      display: block;
      width: 1.625rem;
      height: 0.6875rem;
      border-bottom: 0.4rem solid #c9d0f9;
      border-left: 0.4rem solid #c9d0f9;
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      position: absolute;
      top: 30%;
      left: 24%;
    }
  }
  input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: 1.25rem;
    &:checked ~ label {
      &:before {
        border: 0.3125rem solid #c9d0f9;
        // background: #000;
      }
      &:after {
        transform: rotate(-45deg) scale(1);
      }
    }
    &:focus + label::before {
      outline: 0;
    }
  }
  &.ticket_rules_row {
    width: 100%;
    padding: 4rem 0;
    label {
      span {
        color: #b5c1e4;
        font-size: 1.875rem;
        white-space: pre;
      }
    }
    input[type="checkbox"] {
      &:checked ~ label {
        &:before {
          background: #2ba831;
          border-color: #2ba831;
        }
        &::after {
          border-color: #ffffff;
        }
      }
    }
  }
  &.ti_sys_check {
    width: auto;
    padding: 0;
    label {
      span {
        margin-left: 4rem;
        color: #ffffff;
        font-size: 2rem;
      }
      &:before {
        border: 1px solid #727888;
      }
    }
  }
  &.st_single {
    label {
      span {
        color: #b5c1e4;
        font-size: 1.7rem;
      }
    }
  }
  &.auth_block_ch {
    label {
      span {
        color: #000000;
        font-size: 1.875rem;
      }
      &:after {
        border-color: #707070;
      }
      &::before {
        border-color: #707070;
      }
    }
    input[type="checkbox"] {
      width: auto;
      opacity: 0.00000001;
      position: absolute;
      left: 0;
      margin-left: 1.25rem;
      &:checked ~ label {
        &:before {
          border-color: #707070;
        }
      }
    }
  }
}
