@import "partials/mixins";

.pop_up_mobile_menu_wrapper {
  .pop_up_mobile_menu {
    &.user_registration {
      background-color: #fff;
      padding-bottom: 2.5rem;
      .header_title {
        &.user_reg {
          color: #333d47;
        }
      }
      .reg_attention_text {
        margin-top: 2.8rem;
        width: 100%;
        padding: 1.75rem 2.43rem 2.25rem;
        background-color: #ffca2c;
        border-radius: 1.25rem;
        color: #000000;
        font-size: 1.875rem;
        p {
          margin-bottom: 2rem;
        }
      }
      .registration_form {
        width: 100%;
        padding: 3.56rem 3rem;
        margin: 0 auto;

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 3.75rem;
          label {
            margin-bottom: 1.6rem;
            font-size: 2.25rem;
            color: #333d47;
            span {
              margin-left: 0.5rem;
            }
          }
          .form-control {
            width: 100%;
            //  margin: 1rem 0 0.5rem;
            height: 7.375rem;
            border-radius: 0.625rem;
            color: #333d47;
            font-size: 2.625rem;
            border: 1px solid #707070;
            text-indent: 2.5rem;
          }
          .input_valid_text {
            margin-top: 1rem;
            color: #ff1111;
            font-size: 1.8rem;
          }
          .counrty_select_block {
            position: relative;
            width: 100%;
            height: 7.375rem;
            border-radius: 0.625rem;
            color: #333d47;
            border: 1px solid #707070;

            .counrty_select {
              &.left {
                width: 7rem;
                height: 100%;
                background: #fff;
                float: left;
                display: flex;
                align-items: center;
                //position: relative;
                cursor: pointer;
                padding-left: 1.25rem;
                border-radius: 0.625rem;
              }
              .selected_icon {
                position: relative;
                width: 4.3125rem;
                height: 100%;
                display: flex;
                align-items: center;
                .icon {
                  width: 4.3125rem;
                  height: 3.25rem;
                  background: url("img/mobile-sport/download-icon.svg") center
                    no-repeat;
                  background-size: 100%;
                  &.ge {
                    // tu iqneba sxva foto
                    // background-position: -176px 0;
                  }
                }
              }

              .list {
                width: 100%;
                position: absolute;
                top: 7.375rem;
                left: 0;
                list-style: none;
                text-align: left;
                padding: 0;
                margin: 0 0 0 -1px;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);
                background-color: white;
                border: 1px solid #ccc;
                white-space: nowrap;
                font-size: 12px;
                overflow-y: scroll;
                z-index: 9999999;
                &.hide {
                  display: none;
                }
              }
              .list_item {
                display: flex;
                align-items: center;
                padding: 10px;
                color: #000;
                font-size: 2rem;
                display: flex;
                .icon {
                  width: 4.3125rem;
                  height: 3.25rem;
                  background: url("img/mobile-sport/download-icon.svg") center
                    no-repeat;
                  background-size: 100%;
                  .ge {
                    //poziton
                  }
                }
                &:first-child {
                  border-bottom: 1px solid #ccc;
                  padding-top: 12px;
                  padding-bottom: 12px;
                }
                span {
                  margin-left: 2rem;
                }
              }
            }
            .form-control_drop_input {
              width: calc(100% - 7rem);
              height: 100%;
              padding-right: 2rem;
              text-indent: 1rem;
              color: #333d47;
              font-size: 2.625rem;
              background: #fff;
              border-radius: 0.625rem;
            }
          }
          .select_block {
            display: flex;
            width: 100%;
            height: 7.375rem;
            justify-content: space-between;
            > select {
              width: 30%;
            }
            select {
              height: 100%;
              background: #fff;
              border: 1px solid #707070;
              text-indent: 1.5rem;
              font-size: 2.625rem;
              color: #333d47;
              outline: none;
              border-radius: 0.625rem;
            }
            #birthday-date {
            }
            #birthday-month {
            }
            #birthday-year {
            }
          }
          .dropdown_container {
            width: 100%;
            display: flex;
            .select_code {
              width: 15.6rem;
              height: 7.375rem;
              border: 1px solid #707070;
              border-radius: 0.65rem;
              padding-left: 10px;
              display: flex;
              align-items: center;
              position: relative;
              margin-right: 1.375rem;
              .icon {
                width: 4.3125rem;
                height: 3.25rem;
                background: url(img/mobile-sport/download-icon.svg) center
                  no-repeat;
                background-size: 100%;
              }
              .phone_code {
                font-size: 2.625rem;
                color: #333d47;
                margin-left: 1.5rem;
              }
            }
            .form_control_input_mobile {
              width: 15.6rem;
              height: 7.375rem;
              border: 1px solid #707070;
              border-radius: 0.65rem;
              flex-grow: 1;
              text-indent: 1rem;
              color: #333d47;
              font-size: 2.625rem;
            }
          }
        }
        .form_registration_button {
          width: 100%;
          height: 8.8rem;
          margin-top: 2.7rem;
          font-size: 3.125rem;
          background-color: #43a047;
          border-radius: 0.625rem;
        }
      }
      .reg_bottom_text {
        margin: 5.6rem 0 2rem;
        width: 90%;
        font-size: 1.875rem;
        color: #000000;
        text-align: center;
        line-height: 1.3;
      }
    }
  }
}
